body {
  font-family: sans-serif;
  background-color: powderblue;
}

.titulo{
  text-align: center;
  font-family: monospace;
  font-size: 1.4rem;
  color: blueviolet;
}

.Hiramg{
  text-align: center;
    font-family: monospace;
    font-size: 1rem;
    color: darkgoldenrod;
    margin: left;
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 4px;
    border: 3px solid orange;
}

.Angela{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: deeppink;
  margin: left;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border: 3px solid palevioletred;
}

.Arce{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: darkgreen;
  margin: left;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border: 3px solid blue;
}

.Eli{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: blue;
  margin: left;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border: 3px solid green;
}

.Deny{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: crimson;
  margin: left;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border: 3px solid rebeccapurple;
}

.Josel{
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
  color: darkslateblue;
  margin: left;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
  border: 3px solid brown;
}